<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<nav th:fragment="navbar (activePage)" class="navbar">
    <div class="nav-links">
        <a th:classappend="${activePage == 'home'} ? 'active'" th:href="@{/}">Home</a>
        <a th:classappend="${activePage == 'facilities'} ? 'active'" th:href="@{/facilities}">Facilities</a>
        <a th:classappend="${activePage == 'info'} ? 'active'" th:href="@{/info}">Info</a>
        <a th:classappend="${activePage == 'news'} ? 'active'" th:href="@{/news}">News</a>
        <a th:classappend="${activePage == 'reservations'} ? 'active'" th:href="@{/reservations}">My Reservations</a>
    </div>

    <form th:action="@{/logout}" method="post" class="logout-form">
        <button type="submit" class="btn-logout">Log out</button>
    </form>
</nav>
</body>
</html>
