<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>News | Dormitory</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar(activePage='news')}"></nav>

<main class="container">
    <section class="welcome-section">
        <div class="welcome-card-text">
            <h1>Dorm News & Updates</h1>
            <p>
                Stay informed about facility changes, scheduled maintenance, and new features on our Dormitory.
            </p>
        </div>
    </section>

    <div class="faq-grid">
        <div class="faq-card">
            <h3>Reservation for 2025/2026</h3>
            <p>Reservations for next year have already begun.
                Check out the application dates to make sure you don't miss out.
            </p>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>